@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  /* background: white; */
  background-color: rgb(24, 24, 24);
}

.comment {
  margin-bottom: 16px;
}

.commentContent {
  background-color: #313131;
  padding: 8px 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.subComments {
  margin-left: 16px;
  border-left: 2px solid #a1a1a1;
  border-radius: 0 0 10px 20px;
  padding-left: 10px;
}


